    </div>
    <script src="__PUBLIC__/admin/js/jquery.min.js?v=2.1.4"></script>
    <script src="__PUBLIC__/admin/js/bootstrap.min.js?v=3.3.5"></script>
    <script src="__PUBLIC__/admin/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="__PUBLIC__/admin/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="__PUBLIC__/admin/js/plugins/layer/layer.min.js"></script>
    <script src="__PUBLIC__/admin/js/hplus.min.js?v=4.0.0"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/js/contabs.min.js"></script>
    <script src="__PUBLIC__/admin/js/plugins/pace/pace.min.js"></script>
</body>

</html>