<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>网上服饰购物系统</title>
    <meta name="keywords" content="网上服饰购物系统后台">
    <meta name="description" content="网上服饰购物系统后台">

    <link rel="shortcut icon" href="favicon.ico"> 
    <link href="__PUBLIC__/admin/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/style.min.css?v=4.0.0" rel="stylesheet">
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>新增轮播图片</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form class="form-horizontal m-t" id="signupForm" method="post" enctype="multipart/form-data" action="{:U('setting/checklunbo')}">
                            <div class="form-group">
                                        <label class="col-sm-3 control-label">商品一级分类：</label>
                                         <div class="col-sm-8">
                                            <select class="form-control m-b" name="firstcategory" id="firstcategory">
                                                <option value="-1">请选择商品一级分类</option>
                                                <volist name="firstcategorys" id="category">
                                                <option value="{$category['id']}">{$category['name']}</option>
                                                </volist>
                                            </select>
                                            <span class="help-block m-b-none" style="color: red" id="error1"></span>
                                        </div>
                                    </div>
                                    <div class="form-group" style="display:none" id="seconddiv">
                                        <label class="col-sm-3 control-label">商品二级分类：</label>
                                         <div class="col-sm-8">
                                            <select class="form-control m-b" name="secondcategory" id="secondcategory">
                                                
                                            </select>
                                            <span class="help-block m-b-none" style="color: red" id="error2"></span>
                                        </div>
                                    </div>
                                    <div class="form-group" style="display:none" id="thirddiv">
                                        <label class="col-sm-3 control-label">商品三级分类：</label>
                                         <div class="col-sm-8">
                                            <select class="form-control m-b" name="thirdcategory" id="thirdcategory">
                                                
                                            </select>
                                            <span class="help-block m-b-none" style="color: red" id="error3"></span>
                                        </div>
                                    </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">上传图片：</label>
                                <div class="col-sm-8 div1">
                                        <input type="file" id="goodscover" value="" name="lunbo">
                                        <br>
                                        <img id="upload_img" src="this.src='__PUBLIC__/admin/img/no_img.jpg" onerror="this.src='__PUBLIC__/admin/img/no_img.jpg'" style="height: 150px" />
                                        <span class="help-block m-b-none" style="color: red" id="error4"></span>

                                </div>                            
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"></label>
                                <div class="col-sm-8 div1">
                                    <i class="fa fa-info-circle"></i>图片的链接地址为所选分类的地址（轮播图只能设置女装）
                                </div>
                            </div>
                            
                           
                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-3">
                                    <button class="btn btn-primary" type="button" id="add">添加</button>
                                    <a onclick="javascript:history.back(-1)" class="btn btn-primary" style="margin-left: 10%">返回</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="__PUBLIC__/admin/js/jquery.min.js?v=2.1.4"></script>
    <script src="__PUBLIC__/admin/js/bootstrap.min.js?v=3.3.5"></script>
    <script src="__PUBLIC__/admin/js/content.min.js?v=1.0.0"></script>
    <script src="__PUBLIC__/admin/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/admin/js/plugins/validate/messages_zh.min.js"></script>
    <script src="__PUBLIC__/admin/js/demo/form-validate-demo.min.js"></script>
    <script type="text/javascript">
            var secondCategoryList="{:U('category/secondcategorylist')}";
            var thirdCategoryList="{:U('category/thirdcategorylist')}";
    </script>
    <script type="text/javascript" src="__PUBLIC__/admin/js/setting/addlunbo.js"></script>
    <script type="text/javascript">

    $("#goodscover").change(function(){
    var objUrl = getObjectURL(this.files[0]) ;
    console.log("objUrl = "+objUrl) ;
    if (objUrl) {
        $("#upload_img").attr("src", objUrl) ;
    }
});
    //建立一個可存取到該file的url
function getObjectURL(file) {
    var url = null ; 
    if (window.createObjectURL!=undefined) { // basic
        url = window.createObjectURL(file) ;
    } else if (window.URL!=undefined) { // mozilla(firefox)
        url = window.URL.createObjectURL(file) ;
    } else if (window.webkitURL!=undefined) { // webkit or chrome
        url = window.webkitURL.createObjectURL(file) ;
    }
    return url ;
}
    </script>
</body>

</html>