<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>网上服饰购物系统</title>
    <meta name="keywords" content="网上服饰购物系统后台">
    <meta name="description" content="网上服饰购物系统后台">

    <link rel="shortcut icon" href="favicon.ico"> 
    <link href="__PUBLIC__/admin/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">

    <link href="__PUBLIC__/admin/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/style.min.css?v=4.0.0" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/page.css">
    
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeIn">
        <div class="row">
           
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="tabs-container">
                    
                    <div class="tab-content">
                    
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">
                                
                                <div class="col-sm-12">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">{$username}的收货地址</h3>
                                        <div class="actions pull-right">
                                    </div>
                            </div>
                        <p></p>
                        <div class="example">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;">ID</th>
                                        <th style="text-align: center;">收货人</th>
                                        <th style="text-align: center;">收货地址</th>
                                        <th style="text-align: center;">联系电话</th>
                                        <th style="text-align: center;">邮编</th>
                                        <if condition="$order['postcode'] gt 0">
                                            <th style="text-align: center;">快递单号</th>
                                            <th style="text-align: center;">快递类型</th>
                                        </if>
                                    </tr>
                                                    
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="text-align: center;">
                                            <span class="badge badge-primary animated bounceIn">
                                                1
                                            </span>
                                        </td>
                                        <td style="text-align: center;">
                                            {$address.receiver}
                                        </td>
                                        <td style="text-align: center;">
                                            {$address.address}
                                        </td>
                                        <td style="text-align: center;">
                                            {$address.phone}
                                        </td>
                                        <td style="text-align: center;">
                                            {$address.postcode}
                                        </td>
                                        <if condition="$order['postcode'] gt 0">
                                            <td style="text-align: center;">
                                                {$order.postcode}
                                            </td>
                                            <td style="text-align: center;">
                                                {$order.post_type}
                                            </td>
                                        </if>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                         <div class="btn-group">
                                
                            </div>
                            

                        
                    </div>



                            </div>
                        </div>

                    </div>


                </div>
            </div>

        </div>
 
       

        
    </div>
    <script src="__PUBLIC__/admin/js/jquery.min.js?v=2.1.4"></script>
    <script src="__PUBLIC__/admin/js/bootstrap.min.js?v=3.3.5"></script>
    <script src="__PUBLIC__/admin/js/content.min.js?v=1.0.0"></script>
    <script src="__PUBLIC__/admin/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="__PUBLIC__/admin/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
    <script src="__PUBLIC__/admin/js/plugins/sweetalert/sweetalert.min.js"></script>
</body>

</html>