<include file="Public/top" />	
	
<include file="Public/search" />

<include file="Public/banner" />
	<script type="text/javascript" src="__PUBLIC__/index/date/WdatePicker.js"></script>
	<script type="text/javascript" src="__PUBLIC__/index/js/user/information.js"></script>
	<script type="text/javascript">
            var editUserinfo="{:U('user/editUserinfo')}";
            var checkNicknameByInfo="{:U('user/checkNicknameByInfo')}";
	</script>
			<div class="settings">	
				<div class="hp_tab">		
					<div class="use-info">	
						<img src="__PUBLIC__/{$userinfo.headimage}" alt="" class="use-pic"><p href="" class="use-name">
							<a class="use" href="" title="{$user.nickname}">{$user.nickname}</a>
						</p>			
						<p class="use-id">性别：<if condition="$userinfo['sex'] eq 0">女<elseif condition="$userinfo['sex'] eq 1" />男<else />保密</if>
						</p>		
					</div>	
					<div class="sub_tab">		
						<ul class="account-manage">				
							<strong>个人信息</strong>				
							<li>
								<a onclick='changeTab(this)' id="info" class="red_f">我的信息</a>
							</li>				
							<li>
								<a onclick='changeTab(this)' id="head">设置头像</a>
							</li>				
							<li>
								<a onclick='changeTab(this)' id="pwd">修改密码</a>
							</li>								
						</ul>		
							
					</div>		
				</div>	

				<div class="settings_box"  id="info_id" style="display:block;">			
					<strong class="title" style="background-color: #F2EEEE">我的信息</strong>
					<fieldset class="setPassword" style="border:none;"> 
						<form id="setPersonForm" method="post"> 
							<p class="form-list"> 
								<label> 注册邮箱 </label> 
								<input id="email" name="email" type="text" value="{$user.email}" disabled="disabled" /> 
								<strong> </strong> 
							</p> 
							<p class="form-list"> 
								<label> 昵称 </label> 
								<input id="nickname" name="nickname" type="text" value="{$user.nickname}"/> 
								<strong style="color: red" id="checknickname"></strong> 
							</p> 
							<p class="form-list"> 
								<label> 真实姓名 </label> 
								<input id="truename" name="truename" type="text" value="{$userinfo.truename}" /> 
								<strong> </strong> 
							</p> 
							
							<p class="passChange"> 
								<label> 性别 </label>
								<input name="sex" type="radio" value="0" class="sex" <if condition="$userinfo['sex'] eq 0">checked</if> /> 
								<label class="sexChaneg" style="width:15px;float:none;"> 女 </label> 
								<input name="sex" type="radio" value="1" class="sex" <if condition="$userinfo['sex'] eq 1">checked</if> /> 
								<label class="sexChaneg" style="width:15px;float:none;"> 男 </label> 
								<input name="sex" type="radio" value="2" class="sex" <if condition="$userinfo['sex'] eq 2">checked</if> /> 
								<label class="sexChaneg" style="width:15px;float:none;"> 保密 </label> 
								<strong> </strong> 
							</p> 
							<p class="form-list"> 
								<label> 生日 </label> 
								<input id="birthday" name="birthday" type="text" value="{$userinfo.birthday}" disabled="disabled" style="border-radius:6px !important;height:30px;width:173px;"/> 
								<strong> <a href="javascript:void(0)" style="color: #1C9255" id="xiugaibirthday">修改</a></strong> 
							</p> 
							<p class="form-list" style="display: none" id="birthday_p"> 
								<label> 修改生日 </label> 
								<input id="newbirthday" name="newbirthday" type="text"  onfocus="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd'})" readonly="readonly" style="border-radius:6px !important;height:30px;width:173px;" placeholder="请选择出生日期"/> 
								<strong> </strong> 
							</p> 
							
							<p class="form-list"> 
								<label> 所在地 </label> 
								<input id="location" name="location" type="text" value="{$userinfo.location}" disabled/> 
								<strong><a href="javascript:void(0)" style="color: #1C9255" id="xiugailocation">修改</a></strong> 
							</p>

							<p class="form-list" style="display: none" id="location_p"> 
								<label> 修改所在地 </label> 
								<select id="province" name="province">
                   					<option></option>
                    			</select>
			                    <select id="city" name="city">
			                        <option></option>
			                    </select>
			                    <select id="county" name="county">
			                          <option></option>
			                    </select>
						<script type="text/javascript"  src="__PUBLIC__/index/js/area.js"></script>
						<script type="text/javascript">_init_area();</script>

								<strong id="address"></strong>
							</p> 
							<p class="form-list"> 
								<label> 学校 </label> 
								<input id="school" name="school" type="text" value="{$userinfo.school}" /> 
								<strong> </strong> 
							</p> 
							<p class="form-list"> 
								<label> 工作单位 </label> 
								<input id="work_unit" name="work_unit" type="text" value="{$userinfo.work_unit}" /> 
								<strong> </strong> 
							</p> 
							<p class="form-list"> 
								<label> 从事行业 </label> 
								<select name="job" id="job"> 
									<option value="0"> 请选择你的职业 </option>  	
									<option value="公关" <if condition="$userinfo['job'] eq '公关'">selected</if> >公关</option>  	
									<option value="媒体" <if condition="$userinfo['job'] eq '媒体'">selected</if>  >媒体</option>  	
									<option value="模特" <if condition="$userinfo['job'] eq '模特'">selected</if>  >模特</option>  	
									<option value="设计师" <if condition="$userinfo['job'] eq '设计师'">selected</if> >设计师</option>  	
									<option value="市场/营销" <if condition="$userinfo['job'] eq '市场/营销'">selected</if> >市场/营销</option>  	
									<option value="创意/文案" <if condition="$userinfo['job'] eq '创意/文案'">selected</if> >创意/文案</option>  	
									<option value="广告" <if condition="$userinfo['job'] eq '广告'">selected</if> >广告</option>  	
									<option value="法律" <if condition="$userinfo['job'] eq '法律'">selected</if> >法律</option>  	
									<option value="贸易" <if condition="$userinfo['job'] eq '贸易'">selected</if> >贸易</option>  	
									<option value="公务员" <if condition="$userinfo['job'] eq '公务员'">selected</if> >公务员</option>  	
									<option value="教育" <if condition="$userinfo['job'] eq '教育'">selected</if> >教育</option>  	
									<option value="互联网" <if condition="$userinfo['job'] eq '互联网'">selected</if> >互联网</option>  	
									<option value="计算机" <if condition="$userinfo['job'] eq '计算机'">selected</if> >计算机</option>  	
									<option value="自由职业" <if condition="$userinfo['job'] eq '自由职业'">selected</if> >自由职业</option>  	
									<option value="学生" <if condition="$userinfo['job'] eq '学生'">selected</if> >学生</option>  	
									<option value="非盈利机构" <if condition="$userinfo['job'] eq '非盈利机构'">selected</if> >非盈利机构</option>
									<option value="保险" <if condition="$userinfo['job'] eq '保险'">selected</if> >保险</option>
									<option value="财务" <if condition="$userinfo['job'] eq '财务'">selected</if> >财务</option>
									<option value="餐饮" <if condition="$userinfo['job'] eq '餐饮'">selected</if> >餐饮</option>
									<option value="电子/微电子" <if condition="$userinfo['job'] eq '电子/微电子'">selected</if> >电子/微电子</option>
									<option value="翻译" <if condition="$userinfo['job'] eq '翻译'">selected</if> >翻译</option>  	
									<option value="房地产/建筑" <if condition="$userinfo['job'] eq '房地产/建筑'">selected</if> >房地产/建筑</option>  	
									<option value="航空航天" <if condition="$userinfo['job'] eq '航空航天'">selected</if> >航空航天</option>  	
									<option value="家电业" <if condition="$userinfo['job'] eq '家电业'">selected</if> >家电业</option>  	
									<option value="家居/室内设计" <if condition="$userinfo['job'] eq '家居/室内设计'">selected</if> >家居/室内设计</option>
									<option value="教育/培训" <if condition="$userinfo['job'] eq '教育/培训'">selected</if> >教育/培训</option>  	
									<option value="酒店" <if condition="$userinfo['job'] eq '酒店'">selected</if> >酒店</option>  	
									<option value="会计" <if condition="$userinfo['job'] eq '会计'">selected</if> >会计</option>  	
									<option value="科研/院校" <if condition="$userinfo['job'] eq '科研/院校'">selected</if> >科研/院校</option>  	
									<option value="快速消费品" <if condition="$userinfo['job'] eq '快速消费品'">selected</if> >快速消费品</option>  	
									<option value="零售" <if condition="$userinfo['job'] eq '零售'">selected</if> >零售</option>  	
									<option value="旅游" <if condition="$userinfo['job'] eq '旅游'">selected</if> >旅游</option>  	
									<option value="其他" <if condition="$userinfo['job'] eq '其他'">selected</if> >其他</option>  
								</select> 
								
							</p> 
							<p class="form-list"> 
								<label> 爱好 </label> 
								<input id="hobby" name="hobby" autocomplete="off" class="l_ipt" type="text" value="{$userinfo.hobby}" /> 
								<strong> </strong> 
							</p> 
							<p class="form-list" style="margin-left: 20%;color: #F44C4C" id="success"></p> 
							<input type="button" value="确 认" class="ext_submit" id="edit" style="cursor: pointer" /> 
						</form> 	
					</fieldset>
					
				</div>	
			
			<div class="settings_box" style="display:none" id="pwd_id">
				<strong class="title" style="background-color: #F2EEEE">修改密码</strong>
				<fieldset class="setPassword">
					<form id="setPasswordForm" method="post" action="{:U('user/changepassword')}">
						<p class="form-list">
							<label for="email">邮箱</label>
							<input id="oldemail" type="text" name="oldemail" value="{$user.email}" readonly="readonly" />
							<strong class="good"></strong>
						</p>
						<p class="form-list">
							<label for="new_password">原密码</label>
								<input id="oldpassword" type="password" name="oldpassword">
							<strong class="good" id="oldpassword_p"></strong>
						</p>
						<p class="form-list">
							<label for="new_password">新密码</label>
								<input id="newpassword" type="password" name="newpassword">
							<strong class="good" id="newpassword_p"></strong>
						</p>
						<div class="pw_safe none_f" style="display: block;">
							<span class="txt">安全程度</span>
							<div class="pw_strength pw_weak pw_medium pw_strong">
								<div class="pw_bar"></div>
								<div class="pw_letter">
									<span class="strength_l pw_strength_color">弱</span>
									<span class="strength_m">中</span>
									<span class="strength_h">强</span>
								</div>
							</div>
						</div>
						<p class="form-list">
							<label for="confirm_password">确认密码</label>
							<input id="confirm_password" type="password"  name="confirm_password" />
							<strong class="bad" id="confirm_password_p"></strong>
						</p>
						<input class="ext_submit" type="submit" value="确 认" id="editpassword" style="cursor:pointer" />
					</form>

				</fieldset>
			</div>
			<div class="settings_box" id="head_id" style="display:none">
				<strong class="title" style="background-color: #F2EEEE">修改头像</strong>
				<fieldset class="setHeadimage">
					<form id="setPasswordForm" method="post" action="{:U('user/changeheadimage')}" enctype="multipart/form-data">
						<input type="hidden" name="id" value="{$user.id}">
						<br><br><br>
							<label for="email" style="margin-left: 5%">选择新头像</label>
							<input type="file" value="上传" id="newheadimage" style="margin-left: 5%" name="newheadimage"/>
							<strong class="good"></strong>
						<div style="margin-left: 19%" style="display:none" id="newheadimageshow">
							<img id="upload_img" src="__PUBLIC__/{$userinfo.headimage}" onerror="this.src='img/a2.jpg'" class="use-pic" />
						</div>
						<br><br><br><br><br><br><br><br><br><br>
						<input class="ext_submit" type="submit" value="确 认" id="editpassword" style="cursor:pointer" />
					</form>

				</fieldset>

				
				
				
				
			</div>
				
		</div>

		<script type="text/javascript" charset="utf-8">
			function changeTab(obj){
				var key = $(obj).attr("id")+"_id";
				$(".settings_box").hide();
				$("#"+key).show();
			}

			$(".sub_tab ul li a").css("cursor","pointer");
			$(".sub_tab ul li a").click(function(){
				$(".sub_tab a").removeClass("red_f");
				$(this).addClass("red_f");

				
			});

		</script>

		<include file="Public/buttom" />
	
	</body>
</html>
<script type="text/javascript">

    $("#newheadimage").change(function(){
    	$("#newheadimageshow").css('display','block');
    var objUrl = getObjectURL(this.files[0]) ;
    console.log("objUrl = "+objUrl) ;
    if (objUrl) {
        $("#upload_img").attr("src", objUrl) ;
    }
});
    //建立一個可存取到該file的url
function getObjectURL(file) {
    var url = null ; 
    if (window.createObjectURL!=undefined) { // basic
        url = window.createObjectURL(file) ;
    } else if (window.URL!=undefined) { // mozilla(firefox)
        url = window.URL.createObjectURL(file) ;
    } else if (window.webkitURL!=undefined) { // webkit or chrome
        url = window.webkitURL.createObjectURL(file) ;
    }
    return url ;
}
    </script>
